.reveal pre {
    display: block;
    position: relative;
    width: 140%;
    /* margin-left: -25%; */

    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;

    word-wrap: break-word;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.reveal pre code {
    overflow: auto;
    max-height: 700px;
    max-width: none;
}
